In [23]:
import pandas as pd
"""  Go to: https://archive.ics.uci.edu/ml/datasets.php
â€¢ Select a dataset.
"""

In [24]:
income_data = pd.read_csv('5_adult_income.data')

In [25]:
income_data.columns = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'weekly_worked_hours', 'native-country', 'gross_income']

income_data.to_csv('5_adult_income.csv', index = None, header=True)

In [26]:
demofd = pd.read_csv('5_adult_income.csv')

In [31]:
demofd.head()

,age,workclass,education,marital-status,occupation,race,sex,capital-gain,capital-loss,weekly_worked_hours,native-country,gross_income
0,50,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,White,Male,0,0,13,United-States,<=50K
1,38,Private,HS-grad,Divorced,Handlers-cleaners,White,Male,0,0,40,United-States,<=50K
2,53,Private,11th,Married-civ-spouse,Handlers-cleaners,Black,Male,0,0,40,United-States,<=50K
3,28,Private,Bachelors,Married-civ-spouse,Prof-specialty,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,Masters,Married-civ-spouse,Exec-managerial,White,Female,0,0,40,United-States,<=50K

In [30]:
demofd.drop(['fnlwgt','relationship','education-num'], inplace=True,axis=1)

KeyError: "['fnlwgt' 'relationship' 'education-num'] not found in axis"

In [32]:
demofd.head()

,age,workclass,education,marital-status,occupation,race,sex,capital-gain,capital-loss,weekly_worked_hours,native-country,gross_income
0,50,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,White,Male,0,0,13,United-States,<=50K
1,38,Private,HS-grad,Divorced,Handlers-cleaners,White,Male,0,0,40,United-States,<=50K
2,53,Private,11th,Married-civ-spouse,Handlers-cleaners,Black,Male,0,0,40,United-States,<=50K
3,28,Private,Bachelors,Married-civ-spouse,Prof-specialty,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,Masters,Married-civ-spouse,Exec-managerial,White,Female,0,0,40,United-States,<=50K

In [34]:
#demofd.dropna(axis='index', how='any') drops rows with any missing value
demofd.dropna(axis='index', how='all') #drops rows with all missing values

,age,workclass,education,marital-status,occupation,race,sex,capital-gain,capital-loss,weekly_worked_hours,native-country,gross_income
0,50,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,White,Male,0,0,13,United-States,<=50K
1,38,Private,HS-grad,Divorced,Handlers-cleaners,White,Male,0,0,40,United-States,<=50K
2,53,Private,11th,Married-civ-spouse,Handlers-cleaners,Black,Male,0,0,40,United-States,<=50K
3,28,Private,Bachelors,Married-civ-spouse,Prof-specialty,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,Masters,Married-civ-spouse,Exec-managerial,White,Female,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...
32555,27,Private,Assoc-acdm,Married-civ-spouse,Tech-support,White,Female,0,0,38,United-States,<=50K
32556,40,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,White,Male,0,0,40,United-States,>50K
32557,58,Private,HS-grad,Widowed,Adm-clerical,White,Female,0,0,40,United-States,<=50K
32558,22,Private,HS-grad,Never-married,Adm-clerical,White,Male,0,0,20,United-States,<=50K
32559,52,Self-emp-inc,HS-grad,Married-civ-spouse,Exec-managerial,White,Female,15024,0,40,United-States,>50K

In [35]:
demofd.dropna(axis='index', how='any', subset= ['age'])

,age,workclass,education,marital-status,occupation,race,sex,capital-gain,capital-loss,weekly_worked_hours,native-country,gross_income
0,50,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,White,Male,0,0,13,United-States,<=50K
1,38,Private,HS-grad,Divorced,Handlers-cleaners,White,Male,0,0,40,United-States,<=50K
2,53,Private,11th,Married-civ-spouse,Handlers-cleaners,Black,Male,0,0,40,United-States,<=50K
3,28,Private,Bachelors,Married-civ-spouse,Prof-specialty,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,Masters,Married-civ-spouse,Exec-managerial,White,Female,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...
32555,27,Private,Assoc-acdm,Married-civ-spouse,Tech-support,White,Female,0,0,38,United-States,<=50K
32556,40,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,White,Male,0,0,40,United-States,>50K
32557,58,Private,HS-grad,Widowed,Adm-clerical,White,Female,0,0,40,United-States,<=50K
32558,22,Private,HS-grad,Never-married,Adm-clerical,White,Male,0,0,20,United-States,<=50K
32559,52,Self-emp-inc,HS-grad,Married-civ-spouse,Exec-managerial,White,Female,15024,0,40,United-States,>50K

In [36]:
demofd.describe()

                age  capital-gain  capital-loss  weekly_worked_hours
count  32560.000000  32560.000000  32560.000000         32560.000000
mean      38.581634   1077.615172     87.306511            40.437469
std       13.640642   7385.402999    402.966116            12.347618
min       17.000000      0.000000      0.000000             1.000000
25%       28.000000      0.000000      0.000000            40.000000
50%       37.000000      0.000000      0.000000            40.000000
75%       48.000000      0.000000      0.000000            45.000000
max       90.000000  99999.000000   4356.000000            99.000000

In [38]:
demofd.replace( ' ', '?', inplace=True)

In [39]:
demofd.dtypes

age                     int64
workclass              object
education              object
marital-status         object
occupation             object
race                   object
sex                    object
capital-gain            int64
capital-loss            int64
weekly_worked_hours     int64
native-country         object
gross_income           object
dtype: object

In [40]:
#set(demofd['age'])
#list(set(demofd['workclass']))
#list(set(demofd['education']))
#list(set(demofd['marital-status']))
#list(set(demofd['occupation']))
#list(set(demofd['race']))
#list(set(demofd['sex']))
#list(set(demofd['capital-gain']))
#list(set(demofd['capital-loss']))
#list(set(demofd['weekly_worked_hours']))
#demofd['native-country'].unique()
list(set(demofd['gross_income'])) # with list creats an array like structure

[' >50K', ' <=50K']

In [42]:
demofd.drop(' ?'(axis='index', how='any'))

<>:1: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
<>:1: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
<ipython-input-42-238753552bcf>:1: SyntaxWarning: 'str' object is not callable; perhaps you missed a comma?
  demofd.drop(' ?'(axis='index', how='any'))

TypeError: 'str' object is not callable

In [45]:
demofd['workclass'].replace(' ?', ' Other', inplace=True)
demofd['occupation'].replace(' ?', ' Other', inplace=True)
demofd['native-country'].replace(' ?', ' Other', inplace=True)


list(set(demofd['native-country']))

[' Other',
 ' Holand-Netherlands',
 ' Italy',
 ' Philippines',
 ' Germany',
 ' Puerto-Rico',
 ' Portugal',
 ' Peru',
 ' France',
 ' Ireland',
 ' Thailand',
 ' Poland',
 ' South',
 ' Cuba',
 ' Vietnam',
 ' Hungary',
 ' Nicaragua',
 ' Honduras',
 ' United-States',
 ' England',
 ' Taiwan',
 ' Trinadad&Tobago',
 ' Greece',
 ' Dominican-Republic',
 ' Iran',
 ' Cambodia',
 ' El-Salvador',
 ' Outlying-US(Guam-USVI-etc)',
 ' Japan',
 ' Hong',
 ' Scotland',
 ' Guatemala',
 ' Columbia',
 ' Yugoslavia',
 ' Canada',
 ' Jamaica',
 ' Haiti',
 ' Mexico',
 ' Ecuador',
 ' China',
 ' Laos',
 ' India']

In [46]:
demofd.to_csv('5_adult_income.csv', index = None, header=True)

In [47]:
import altair as alt
import pandas as pd
import vega_datasets as vd

In [48]:
df = pd.read_csv('5_adult_income.csv', na_filter=True)

In [49]:
df.sample()

,age,workclass,education,marital-status,occupation,race,sex,capital-gain,capital-loss,weekly_worked_hours,native-country,gross_income
17290,42,Self-emp-not-inc,HS-grad,Married-civ-spouse,Craft-repair,White,Male,0,0,35,United-States,<=50K

In [50]:
df['capital_gains/loss'] = (df['capital-loss'] * 0 - df['capital-loss']) + df['capital-gain']

In [22]:
df['capital_gains/loss'].unique()

array([    0, 14084,  5178, -2042, -1408, -1902,  5013,  2407, 14344,
       -1573, 15024,  7688, 34095, -1887,  4064, -1719, -1762,  4386,
       -1564, -2179, -1816, -1980, -1977,  7298, -1876, -1340, -2206,
        1409,  3674, -1741,  1055,  3464, -1485,  2050, -2339, -2415,
        2176,  2174,   594, -1380, 20051,  6849,  4101,  1111,  8614,
        3411, -1721,  2597, 25236, -2051,  4650,  9386, -2377, -1669,
       -2352,  2463,  3103, -1672,  -653, 10605, -2392,  2964,  3325,
       -1504,  2580, -2001,  3471, -1590, -1651,  4865, 99999,  6514,
       -1628,  1471,  2329, -1848,  2105,  2885, 25124, 10520, -1740,
        2202, -2002,  2961, 27828,  6767,  2228, -1579,  1506, 13550,
        2635, -2258,  5556, -1602,  -419,  4787,  3781,  3137, -2547,
       -2174,  3818,  3942,   914,   401,  2829,  2977,  4934, -2205,
       -1726, -2444,  2062, -1138, -2238,  2354,  5455, 15020,  1424,
        -625,  3273, 22040,  -213,  4416,  3908, 10566,   991,  4931,
        1086, -1539,  -880,  7430,  6497,   114, -1668,  7896,  2346,
       -1092, -1594,  3418, -3004, -2231, -1844,  -810,  3432, -2824,
        2907,  1151, -2559,  2414,  2290, -2057, 15831, 41310,  4508,
       -1974,  2538,  -974,  3456, -2149,  6418, -1825, -1735, -1258,
       -2129,  1848,  3887, -2603, -2282,  -323,  5721,  9562, -4356,
        1455,  2036,  1831, -2246, -1617, -1648, 11678,  2936,  2993,
       -2489,  7443, -3770,  6360, -1755, -3683,  1797,  1173,  4687,
        6723,  2009, -2267, -2080,  6097,  2653,  1639, -2457, 18481,
        -155, -3900, -2201, -1944,  7978, -2467, -2163, -2754,  2387,
       -2472,  5060, -1411], dtype=int64)

In [51]:
dfilters= (df['weekly_worked_hours'] <50) & (df['capital_gains/loss'] != 0)
DFilter = df[dfilters]

DFilter.head()

,age,workclass,education,marital-status,occupation,race,sex,capital-gain,capital-loss,weekly_worked_hours,native-country,gross_income,capital_gains/loss
8,42,Private,Bachelors,Married-civ-spouse,Exec-managerial,White,Male,5178,0,40,United-States,>50K,5178
22,43,Private,11th,Married-civ-spouse,Transport-moving,White,Male,0,2042,40,United-States,<=50K,-2042
31,45,Private,Bachelors,Divorced,Exec-managerial,White,Male,0,1408,40,United-States,<=50K,-1408
58,30,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,White,Male,5013,0,40,United-States,<=50K,5013
59,30,Private,Bachelors,Married-civ-spouse,Sales,White,Male,2407,0,40,United-States,<=50K,2407

In [52]:
DFilter.drop(['capital-loss','capital-gain'], inplace=True,axis=1)
DFilter.head()

C:\Users\myfba\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,age,workclass,education,marital-status,occupation,race,sex,weekly_worked_hours,native-country,gross_income,capital_gains/loss
8,42,Private,Bachelors,Married-civ-spouse,Exec-managerial,White,Male,40,United-States,>50K,5178
22,43,Private,11th,Married-civ-spouse,Transport-moving,White,Male,40,United-States,<=50K,-2042
31,45,Private,Bachelors,Divorced,Exec-managerial,White,Male,40,United-States,<=50K,-1408
58,30,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,White,Male,40,United-States,<=50K,5013
59,30,Private,Bachelors,Married-civ-spouse,Sales,White,Male,40,United-States,<=50K,2407

In [53]:
DFilter.shape

DFilter.to_csv('5_adult_income2.csv', index = None, header=True)
dff = pd.read_csv('5_adult_income2.csv', na_filter=True)

In [54]:
DFilter.shape

(2959, 11)